{:paths ["src" "resources" "."]
 :deps
 {metosin/reitit {:mvn/version "0.5.13"}
  com.github.prestancedesign/inertia-clojure {:mvn/version "0.2.0"}
  hiccup/hiccup {:mvn/version "2.0.0-alpha2"}
  ring/ring-jetty-adapter {:mvn/version "1.9.3"}}}
