;; shadow-cljs configuration
{:source-paths
 ["src/cljs"]

 :dependencies
 [[reagent "1.0.0"]]

 :builds
 {:app
  {:target :browser
   :output-dir "resources/public/js"
   :asset-path "/js"
   :modules {:app {:init-fn pingcrm.app/init!}}
   :devtools {:after-load pingcrm.app/mount-root}}}}
