;; shadow-cljs configuration
{:source-paths
 ["src/cljs"]

 :dependencies
 [[reagent "1.1.0"]
  [applied-science/js-interop "0.2.7"]]

 :builds
 {:app
  {:target :browser
   :output-dir "public/js"
   :asset-path "/js"
   :module-hash-names true
   :modules {:app {:init-fn pingcrm.app/init!}}
   :build-hooks
   [(shadow.cljs.build-report/hook)]
   :devtools {:after-load pingcrm.app/start
              :watch-dir "public"}}
  :ssr
  {:target :node-script
   :output-to "out/ssr.js"
   :main pingcrm.ssr/init}}}
